# ANSIBLE
#================================================================
*.retry
cachedir
roles-galaxy

# GENERAL
#================================================================
.DS_Store
.AppleDouble
.LSOverride
.idea
.vagrant
.vscode

# THUMBNAILS
#================================================================
._*

# Secure
#================================================================
.vault-pass
